<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<body>

<div th:fragment="navbar" class="navbar">
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
        <a class="navbar-brand" href="/">CoolCats</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item active" id="home">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        Categories
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <div th:each="cat,iterStat : ${category}">
                            <a class=" dropdown-item categorySelector" href="#" th:attr="data-id=${cat.getId()}"
                               th:text="${cat.getName()}">Name</a>
                        </div>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        Continents
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <div th:each="supl,iterStat : ${supplier}">
                            <a class=" dropdown-item supplierSelector" href="#" th:attr="data-id=${supl.getId()}"
                               th:text="${supl.getName()}">Name</a>
                        </div>
                    </div>
                </li>
            </ul>
            <span class="btn cart d-flex justify-content-around">
                <button id="shoppingCart" type="button" class="btn btn-success m-1" data-toggle="modal"
                        data-target="#cartModal">
                    View Cart
                </button>
                <div th:replace="${user} ? ~{logout.html :: logout} : ~{login.html :: login}">>
                    <button class="btn btn-success m-1 dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span>Login</span>
                    </button>
                    <form class="dropdown-menu dropdown-menu-right w-50 p-2" method="post" action="login">
                      <div class="form-group">
                        <label for="email" class="white">E-mail address</label>
                        <input type="email" name="email" class="form-control" id="email" >
                      </div>
                      <div class="form-group">
                        <label for="password" class="white">Password</label>
                        <input type="password" name="password" class="form-control" id="password">
                      </div>
                      <button type="submit" class="btn btn-primary">Login</button>
                    </form>
                </div>
                <button type="button" class="btn btn-success m-1">
                    <a class="white" href="/registration">Registration</a>
                </button>
            </span>
        </div>
    </nav>


</div>

</body>
</html>